[submodule "app-handlebars"]
	path = generators/app/templates/handlebars
	url = https://github.com/catberry/catberry-hello-world-handlebars.git
[submodule "app-dust"]
	path = generators/app/templates/dust
	url = https://github.com/catberry/catberry-hello-world-dust.git
[submodule "app-jade"]
	path = generators/app/templates/jade
	url = https://github.com/catberry/catberry-hello-world-jade.git
[submodule "app-example"]
	path = generators/app/templates/example
	url = https://github.com/catberry/catberry-example.git
